# Fichero de Java Compilados

*.class
# Copias de seguridad

*.bak
/Tema 6/Ejercicio08/nbproject/private/
/Tema 8/Ejercicio del 1 al 15/nbproject/private/
/Tema 8/Ejerciciodel1al15/nbproject/private/
/Tema 8/Ejerciciodel1al15/build/
/Tema 8/Ejerciciodel1al15/dist/